html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe isn't black */
    background: -webkit-linear-gradient(right top, rgb(0, 0, 20) 0%, rgb(2, 0, 40) 56%, rgb(0, 0, 10) 77%);
    
}

#sistema{

}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
    
    background: -webkit-linear-gradient(top, yellow, orange, red);
    background: -moz-linear-gradient(top, yellow, orange, red);
    background: -o-linear-gradient(top, yellow, orange, red);
    background: -ms-linear-gradient(top, yellow, orange, red);
    border-color: red;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 64px yellow;
    
    -webkit-animation: spin-right 20s linear infinite;
    -moz-animation: spin-right 20s linear infinite;
    -ms-animation: spin-right 20s linear infinite;
    -o-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
}


#mercury {
    position: absolute;
    left:50%;
    
    border-radius: 50%;
    background: gray;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    
    box-shadow: 0 0 15px lightgray;
}

#mercury-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 300px;
    height: 300px;
    margin-top: -151px;
    margin-left: -151px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 5s linear infinite;
    -moz-animation: spin-right 5s linear infinite;
    -ms-animation: spin-right 5s linear infinite;
    -o-animation: spin-right 5s linear infinite;
    animation: spin-right 5s linear infinite;
}

#venus {
    position: absolute;
    left:50%;
    
    border-radius: 50%;
    background: green;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    
    box-shadow: 0 0 15px lightgreen;
}

#venus-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 400px;
    height: 400px;
    margin-top: -201px;
    margin-left: -201px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    
    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    -ms-animation: spin-right 10s linear infinite;
    -o-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}
#earth {
    /* Style your earth */
    position: absolute;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    
    border-radius: 50%;
    background: blue;
	width: 50px;
	height: 50px; 
	
    box-shadow: 0 0 15px cyan;
}

#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 500px;
    height: 500px;
    margin-top: -251px;
    margin-left: -251px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
        
    -webkit-animation: spin-right 20s linear infinite;
    -moz-animation: spin-right 20s linear infinite;
    -ms-animation: spin-right 20s linear infinite;
    -o-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;

}



#mars {
    position: absolute;
    left:50%;
    
    border-radius: 50%;
    background: red;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    
    box-shadow: 0 0 30px red;
}

#mars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 600px;
    height: 600px;
    margin-top: -301px;
    margin-left: -301px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    
    -webkit-animation: spin-right 30s linear infinite;
    -moz-animation: spin-right 30s linear infinite;
    -ms-animation: spin-right 30s linear infinite;
    -o-animation: spin-right 30s linear infinite;
    animation: spin-right 30s linear infinite;
}

#jupiter {
    position: absolute;
    left:50%;
    
    border-radius: 50%;
    background: green;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    
    box-shadow: 0 0 30px lightgreen;
}

#jupiter-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 800px;
    height: 800px;
    margin-top: -401px;
    margin-left: -401px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    
    -webkit-animation: spin-right 50s linear infinite;
    -moz-animation: spin-right 50s linear infinite;
    -ms-animation: spin-right 50s linear infinite;
    -o-animation: spin-right 50s linear infinite;
    animation: spin-right 50s linear infinite;
}

#saturn {
    position: absolute;
    left:50%;
    z-index: 1;

    border-radius: 50%;
    background: brown;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    
    box-shadow: 0 0 30px lightbrown;

    -webkit-animation: spin-left 2s linear infinite;
    -moz-animation: spin-left 2s linear infinite;
    -ms-animation: spin-left 2s linear infinite;
    -o-animation: spin-left 2s linear infinite;
    animation: spin-left 2s linear infinite;
}

#saturn-ring {
    position:absolute;
    left:50%;
    z-index: 2;

    border-radius: 50%;
    width: 130px;
    height: 20px;
    margin-top: 35px;
    margin-left: -65px;

    border-width: 20px;
    border-color: brown;
    border-style: line;
    box-shadow: 0 0 10px white;
}

#saturn-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 1000px;
    height: 1000px;
    margin-top: -501px;
    margin-left: -501px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    /*-webkit-animation: spin-right 70s linear infinite;
    -moz-animation: spin-right 70s linear infinite;
    -ms-animation: spin-right 70s linear infinite;
    -o-animation: spin-right 70s linear infinite;
    animation: spin-right 70s linear infinite;*/
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-right{
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-left {
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin-left{
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}